* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background-color: aliceblue;
  font-size: 18px;
  font-weight: 700;
}

body {
  background-image: url("https://klike.net/uploads/posts/2022-09/1663302276_g-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 500px;
}

.book-container {
  max-width: 500px;
}

.nav__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.container-fluid{
  background-image: url();
}
