* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 500px;
}
.nav__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
